<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.project.doubleshop.item.entity.Item" alias="Item"/>
        <typeAlias type="com.project.doubleshop.common.Status" alias="Status"/>
        <typeAlias type="com.project.doubleshop.web.common.StatusRequest" alias="StatusRequest"/>
        <typeAlias type="com.project.doubleshop.web.config.support.Pageable" alias="Pageable"/>
        <typeAlias type="com.project.doubleshop.category.entity.Category" alias="Category"/>
        <typeAlias type="com.project.doubleshop.category.entity.CategoryType" alias="CategoryType"/>
        <typeAlias type="com.project.doubleshop.category.entity.DepthLevel" alias="DepthLevel"/>
        <typeAlias type="com.project.doubleshop.common.mapper.param.RequestItemsWithCategory" alias="RequestItemsWithCategory"/>
        <typeAlias type="com.project.doubleshop.member.domain.Member" alias="Member"/>
        <typeAlias type="com.project.doubleshop.delivery.entity.Delivery" alias="Delivery"/>
        <typeAlias type="com.project.doubleshop.delivery.entity.legacy.DeliveryDriver" alias="DeliveryDriver"/>
        <typeAlias type="com.project.doubleshop.delivery.entity.DeliveryPolicy" alias="DeliveryPolicy"/>
        <typeAlias type="com.project.doubleshop.cart.entity.Cart" alias="Cart"/>
        <typeAlias type="com.project.doubleshop.order.entity.Order" alias="Order"/>
        <typeAlias type="com.project.doubleshop.web.order.dto.OrderStatusRequest" alias="OrderStatusRequest"/>
        <typeAlias type="com.project.doubleshop.order.entity.OrderDetail" alias="OrderDetail"/>
        <typeAlias type="com.project.doubleshop.web.order.dto.OrderDetailResult" alias="OrderDetailResult"/>
        <typeAlias type="com.project.doubleshop.address.entity.Address" alias="Address"/>
        <typeAlias type="com.project.doubleshop.web.item.dto.ItemStockQuery" alias="ItemStockQuery"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler handler="com.project.doubleshop.common.StatusTypeHandler" />
        <typeHandler handler="com.project.doubleshop.delivery.entity.enumuration.FeeMethodTypeHandler"/>
        <typeHandler handler="com.project.doubleshop.delivery.entity.enumuration.FeePolicyTypeHandler"/>
        <typeHandler handler="com.project.doubleshop.delivery.entity.enumuration.DeliveryStatusTypeHandler"/>
    </typeHandlers>
    <mappers>
        <mapper resource="mapper/itemMapper.xml"/>
        <mapper resource="mapper/categoryMapper.xml"/>
        <mapper resource="mapper/authenticationMemberMapper.xml"/>
        <mapper resource="mapper/deliveryMapper.xml"/>
        <mapper resource="mapper/deliveryDriverMapper.xml"/>
        <mapper resource="mapper/deliveryPolicyMapper.xml"/>
        <mapper resource="mapper/cartMapper.xml"/>
        <mapper resource="mapper/orderMapper.xml"/>
        <mapper resource="mapper/orderDetailMapper.xml"/>
        <mapper resource="mapper/addressMapper.xml"/>
    </mappers>
</configuration>