<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.project.doubleshop.domain.item.entity.Item" alias="Item"/>
        <typeAlias type="com.project.doubleshop.domain.common.Status" alias="Status"/>
        <typeAlias type="com.project.doubleshop.web.common.StatusRequest" alias="StatusRequest"/>
        <typeAlias type="com.project.doubleshop.web.config.support.Pageable" alias="Pageable"/>
        <typeAlias type="com.project.doubleshop.domain.category.entity.Category" alias="Category"/>
        <typeAlias type="com.project.doubleshop.domain.category.entity.CategoryType" alias="CategoryType"/>
        <typeAlias type="com.project.doubleshop.domain.category.entity.DepthLevel" alias="DepthLevel"/>
        <typeAlias type="com.project.doubleshop.domain.common.mapper.param.RequestItemsWithCategory" alias="RequestItemsWithCategory"/>
        <typeAlias type="com.project.doubleshop.domain.member.entity.Member" alias="Member"/>
        <typeAlias type="com.project.doubleshop.domain.delivery.entity.Delivery" alias="Delivery"/>
        <typeAlias type="com.project.doubleshop.domain.delivery.entity.DeliveryDriver" alias="DeliveryDriver"/>
        <typeAlias type="com.project.doubleshop.domain.delivery.entity.DeliveryPolicy" />
    </typeAliases>
    <typeHandlers>
        <typeHandler handler="com.project.doubleshop.domain.common.StatusTypeHandler" />
    </typeHandlers>
    <mappers>
        <mapper resource="mapper/itemMapper.xml"/>
        <mapper resource="mapper/categoryMapper.xml"/>
        <mapper resource="mapper/authenticationMemberMapper.xml"/>
        <mapper resource="mapper/deliveryMapper.xml"/>
        <mapper resource="mapper/deliveryPolicyMapper.xml"/>
    </mappers>
</configuration>