<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.doubleshop.domain.address.entity.Address">
    <insert id="insertAddress" parameterType="Address" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ADDRESS (city, zipcode, detail, member_id)
        VALUES (#{city}, #{zipcode}, #{detail}, #{memberId})
    </insert>
    <select id="selectByMemberId" resultType="Address" parameterType="long">
        SELECT id, city, zipcode, detail, member_id
        FROM ADDRESS WHERE member_id = #{memberId}
    </select>
    <select id="selectAddressById" resultType="Address" parameterType="long">
        SELECT id, city, zipcode, detail, member_id
        FROM ADDRESS WHERE id = #{id}
    </select>
    <update id="updateStatus">
        UPDATE ADDRESS SET
        status = #{statusCode},
        status_update_time = #{statusUpdateTime}
        WHERE
        <foreach item="id" index="index" collection="addressIds"
                 open="id IN (" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <update id="updateAddress" parameterType="Address">
        UPDATE ADDRESS SET
            city = #{city},
            zipcode = #{zipcode},
            detail = #{detail},
            status = #{status},
            status_update_time = #{statusUpdateTime},
            member_id = #{memberId}
        WHERE id = #{id}
    </update>
    <delete id="deleteAddress" parameterType="int">
        DELETE FROM ADDRESS WHERE status = #{statusCode}
    </delete>
</mapper>