<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.doubleshop.domain.member.infrastructure.myBatis.mapper.AuthMemberMapper">
    <insert id="insertMember" parameterType="Member" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO MEMBER (user_id, password, name, email,
                            phone, count, last_login_time, status,
                            status_update_time, create_time)
        VALUES (#{userId}, #{password}, #{name}, #{email},
                #{phone}, #{count}, #{lastLoginTime}, #{status},
                #{statusUpdateTime}, #{createTime})
    </insert>
    <select id="selectMemberById" resultType="Member" parameterType="long">
        SELECT id, user_id, password,
               name, email, phone, count,
               last_login_time, status, status_update_time, create_time
        FROM MEMBER WHERE id = #{id}
    </select>
    <select id="selectMemberByEmail" resultType="Member" parameterType="string">
        SELECT id, user_id, password,
               name, email, phone, count,
               last_login_time, status, status_update_time, create_time
        FROM MEMBER WHERE email = #{email}
    </select>
    <select id="selectMemberByUserId" resultType="Member" parameterType="string">
        SELECT id, user_id, password,
               name, email, phone, count,
               last_login_time, status, status_update_time, create_time
        FROM MEMBER WHERE user_id = #{userId}
    </select>
    <update id="updateMember" parameterType="Member">
        UPDATE MEMBER SET user_id = #{userId},
                          password = #{password},
                          name = #{name},
                          email = #{email},
                          phone = #{phone},
                          count = #{count},
                          last_login_time = #{lastLoginTime},
                          status = #{status},
                          status_update_time = #{statusUpdateTime},
                          create_time = #{createTime}
        WHERE id = #{id}
    </update>
    <update id="updateMemberProfile" parameterType="Member">
        UPDATE MEMBER SET user_id = #{userId},
                          name = #{name},
                          email = #{email},
                          phone = #{phone}
        WHERE id = #{id}
    </update>
    <update id="updateMemberPassword" parameterType="Member">
        UPDATE MEMBER SET password = #{password}
        WHERE id = #{id}
    </update>
</mapper>