<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.doubleshop.domain.cart.mapper.CartMapper">
    <select id="selectCartByMemberId" resultType="Cart" parameterType="long">
        SELECT (id, member_id, item_id) FROM CART WHERE member_id = #{memberId}
    </select>
    <insert id="insertCart" parameterType="Cart" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO CART (member_id, item_id) VALUES (#{memberId}, #{itemId})
    </insert>
    <delete id="deleteCart">
        DELETE FROM CART WHERE
        <foreach item="id" index="index" collection="list"
            open="id IN (" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>