<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.doubleshop.domain.category.mapper.CategoryMapper">
    <insert id="insertCategory" parameterType="Category" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO CATEGORY (name, category_type, depth_level, is_refundable, status, status_update_time)
        VALUES (#{name}, #{categoryType}, #{depthLevel}, #{isRefundable}, #{status}, #{statusUpdateTime})
    </insert>
    <select id="selectByCategoryId" resultType="Category" parameterType="long">
        SELECT id, name, category_type, depth_level, is_refundable, status, status_update_time
        FROM CATEGORY WHERE id = #{id}
    </select>
    <select id="selectAllCategories" resultType="Category">
        SELECT id, name, category_type, depth_level, is_refundable, status, status_update_time FROM CATEGORY
    </select>
    <update id="updateCategory" parameterType="Category">
        UPDATE CATEGORY SET
                            name = #{name},
                            category_type = #{categoryType},
                            depth_level = #{depthLevel},
                            is_refundable = #{isRefundable}
        WHERE id = #{id}
    </update>
    <update id="updateCategoryStatus" parameterType="StatusRequest">
        UPDATE CATEGORY SET status = #{status} WHERE id = #{id}
    </update>
    <delete id="deleteCategory" parameterType="Status">
        DELETE FROM CATEGORY WHERE status = #{DELETED}
    </delete>
</mapper>