<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.doubleshop.domain.delivery.mapper.DeliveryDriverMapper">
    <insert id="insertDeliveryDriver" parameterType="DeliveryDriver" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO DELIVERY_DRIVER (name, phone, create_time, update_time,
                                     status, status_update_time)
        VALUES (#{name}, #{phone}, #{createTime}, #{updateTime},
                #{status}, #{statusUpdateTime});
    </insert>
    <select id="selectByDeliveryDriverId" parameterType="long" resultType="DeliveryDriver">
        SELECT name, phone, create_time, update_time,
               status, status_update_time
        FROM DELIVERY_DRIVER WHERE ID = #{id}
    </select>
    <select id="selectAllDeliveryDriver" resultType="DeliveryDriver" parameterType="Pageable">
        SELECT name, phone, create_time, create_time,
               status, status_update_time
        FROM DELIVERY_DRIVER ORDER BY id DESC LIMIT #{size} OFFSET #{page}
    </select>
    <update id="updateDeliveryDriver" parameterType="DeliveryDriver">
        UPDATE DELIVERY_DRIVER SET
                                    name = #{name},
                                    phone = #{phone},
                                    create_time = #{createTime},
                                    update_time = #{updateTime},
                                    status = #{status},
                                    status_update_time = #{statusUpdateTime}
        WHERE id = #{id}
    </update>
    <delete id="deleteDeliveryDriver" parameterType="Status">
        DELETE FROM DELIVERY_DRIVER WHERE status = #{DELETE}
    </delete>
</mapper>