<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.doubleshop.item.infrastructure.mybatis.ItemMapper">
    <insert id="insertItem" parameterType="Item" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO ITEM (name, description, brand_name, price, volume,
                          dimension, package_type, origin, expiration,
                          price_per_100g, allergic_info, model_serial_no, rating, search_keyword,
                          stock, discount_price, author, publisher, isbn,
                          published_time, is_oneday_eligible, is_fresh_eligible, status, status_update_time, category_id)
        VALUES (#{name}, #{description},#{brandName}, #{price},
                #{volume}, #{dimension}, #{packageType}, #{origin}, #{expiration},
                #{pricePer100g}, #{allergicInfo}, #{modelSerialNo}, #{rating}, #{searchKeyword},
                #{stock}, #{discountPrice}, #{author}, #{publisher}, #{isbn},
                #{publishedTime}, #{isOnedayEligible}, #{isFreshEligible}, #{status}, #{statusUpdateTime}, #{categoryId})
    </insert>
    <select id="selectByItemId" parameterType="long" resultType="Item">
        SELECT id, name, description, brand_name, price, volume, dimension, package_type, origin, expiration, price_per_100g,
               allergic_info, model_serial_no, rating, search_keyword, stock, discount_price, author, publisher, isbn, published_time,
               is_oneday_eligible, is_fresh_eligible, status, status_update_time, category_id
        FROM ITEM WHERE id = #{id}
    </select>
    <select id="selectAllItems" resultType="Item" parameterType="Pageable">
        SELECT id, name, description, brand_name, price, volume, dimension, package_type, origin, expiration, price_per_100g,
                allergic_info, model_serial_no, rating, search_keyword, stock, discount_price, author, publisher, isbn, published_time,
               is_oneday_eligible, is_fresh_eligible, status, status_update_time, category_id
        FROM ITEM ORDER BY id DESC LIMIT #{size} OFFSET #{page}
    </select>
    <select id="selectItemsWithCategory" resultType="Item" parameterType="RequestItemsWithCategory">
        SELECT id, name, description, brand_name, price, volume, dimension, package_type, origin, expiration, price_per_100g,
               allergic_info, model_serial_no, rating, search_keyword, stock, discount_price, author, publisher, isbn, published_time,
               is_oneday_eligible, is_fresh_eligible, status, status_update_time, category_id
        FROM ITEM WHERE category_id = #{categoryId} ORDER BY id DESC LIMIT #{size} OFFSET #{page}
    </select>
    <update id="updateItem" parameterType="Item">
        UPDATE ITEM SET
                        name = #{name},
                        description = #{description},
                        brand_name = #{brandName},
                        price = #{price},
                        volume = #{volume},
                        dimension = #{dimension},
                        package_type = #{packageType},
                        origin = #{origin},
                        expiration = #{expiration},
                        price_per_100g = #{pricePer100g},
                        allergic_info = #{allergicInfo},
                        model_serial_no = #{modelSerialNo},
                        rating = #{rating},
                        search_keyword = #{searchKeyword},
                        stock = #{stock},
                        discount_price = #{discountPrice},
                        author = #{author},
                        publisher = #{publisher},
                        isbn = #{isbn},
                        published_time  = #{publishedTime},
                        is_oneday_eligible = #{isOnedayEligible},
                        is_fresh_eligible = #{isFreshEligible},
                        status= #{status},
                        status_update_time = #{statusUpdateTime},
                        created_time = #{createTime},
                        category_id = #{categoryId}
        WHERE id = #{id}
    </update>
    <update id="updateItemStatus" parameterType="StatusRequest">
        UPDATE ITEM SET status = #{status} WHERE id = #{id}
    </update>
    <delete id="deleteItem" parameterType="Status">
        DELETE FROM ITEM WHERE status = #{DELETED}
    </delete>
    <select id="selectItemsInIds" resultType="Item">
        SELECT id, name, description, brand_name, price, volume, dimension, package_type, origin, expiration, price_per_100g,
        allergic_info, model_serial_no, rating, search_keyword, stock, discount_price, author, publisher, isbn, published_time,
        is_oneday_eligible, is_fresh_eligible, status, status_update_time, category_id
        FROM Item WHERE
        <foreach item="id" index="index" collection="itemIds"
                 open="id IN (" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <update id="batchUpdateItems" parameterType="ItemStockQuery">
        <foreach collection="queryList" item="item" index="index" open="" close="" separator=";">
            UPDATE ITEM SET
            stock = #{item.stock}
            WHERE id = #{item.itemId}
        </foreach>
    </update>
</mapper>