<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.doubleshop.mapper.MemberInfoMapper">

    <insert id="register" parameterType="com.project.doubleshop.dto.MemberSaveRequestDto">
        INSERT INTO member (user_id, password, name, phone, email, status)
        VALUES (#{userId}, #{password}, #{name}, #{phone}, #{email}, #{status})
    </insert>

    <select id="checkId" resultType="int">
        SELECT COUNT(user_id)
        FROM member
        WHERE user_id = #{userId}
    </select>

    <select id="checkEmail" resultType="int">
        SELECT COUNT(email)
        FROM member
        WHERE email = #{email}
    </select>

</mapper>